<!doctype html>
<html lang="ja">
<head>
<!-- meta -->
<meta charset="utf-8">
<title>＊＊＊＊</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<!-- stylesheet -->
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/top.css">

<!-- lib -->
<script type="importmap">
  {
    "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three@0.175.0/build/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.175.0/examples/jsm/"
    }
  }
  </script>
<script src="/assets/js/vendors.js" defer></script>
<script src="/assets/js/common.js" defer></script>
<script type="module" src="/assets/js/top.js"></script>
</head>
<body>
  <main>
    <canvas id="webgl"></canvas>
  </main>
</body>

</html>